<header xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <nav class="nav navbar-inverse" style="width: 100vw;">
        <div class="container-fluid">
            <!-- Header !-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="@{/stations}" class="navbar-brand">Charging Stations
                </a>
            </div>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a th:href="@{/stations/new_location}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>